{#
    @author: Eric COURTIAL <e.courtial30@gmail.com>
#}
{% extends 'base.html.twig' %}
{% block body %}
    <h1 id="mainTitle">{{ screenTitle }}</h1>
    <span id="tempMsg">Veuillez patienter...</span>

    <div id="contentExample">
        <p><strong>Support:</strong> @SUPPORT@</p>
        <p><strong>A jouer en solo:</strong> @IS_SOLO@</p>
        <p><strong>A jouer en multi:</strong> @IS_MULTI@</p>
        <p><strong>A faire en priorité:</strong> @IS_PRIO@</p>
        <p><strong>Au moins un exemplaire est une copie:</strong> @IS_ONE_COPY@</p>
        <p><strong>En plusieurs exemplaires:</strong> @IS_MANY@</p>
        <p><strong>Top jeu:</strong> @IS_TOP@</p>
        <p><strong>J'y ai beaucoup joué:</strong> @IS_PLAYED_OFTEN@</p>
        <p><strong>Fait partie du hall of fames:</strong> en @HALL_YEAR@ en position #@HALL_POSITION@</p>
        <p><strong>Commentaires:</strong></p> @COMMENTS@</p>
        <p><a href="{{ url('edit_game') }}?id=@GAME-ID@">Editer</a></p>
    </div>

    <div id="gameContent"></div>
    {{ include('view/hallOfGameCriteria.html.twig') }}
    <button id="anotherGame">Un autre jeu au hasard</button>

    <script type="text/javascript">
        var targetUrl = "{{ url }}?json=true";
        var showAnotherButton = true;
        {% if showRandomButton is defined %}
            showAnotherButton = "{{ showRandomButton }}";
        {% endif %}

        require(['pages/detail']);
    </script>
{% endblock %}
