<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="nav-li" href="{{ url('homepage') }}" >Accueil</a></li>
                <li class="dropdown">
                    <a class="nav-li" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Au hasard <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url('random_game') }}" >Un jeu au hasard</a></li>
                        <li><a href="{{ url('random_game', {'filter': 'solo'}) }}" >Un jeu à jouer solo au hasard</a></li>
                        <li><a href="{{ url('random_game', {'filter': 'multi'}) }}" >Un jeu à jouer en multi au hasard</a></li>
                    </ul>
                </li>
                <li><a class="nav-li" href="{{ url('games_supports') }}" >Par support</a></li>
                <li><a class="nav-li" href="{{ url('games_list', {'filter': 'top'}) }}">Top jeux solo récurrents</a></li>
                <li><a class="nav-li" href="{{ url('games_list', {'filter': 'to-buy'}) }}">A acheter</a></li>
                <li><a class="nav-li" href="{{ url('games_list', {'filter': 'todo'}) }}">Jeux à faire</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a class="nav-li" href="{{ url('add_game') }}" >Ajout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <form style="float:right;" method="POST" action="{{ url('game_search') }}">
        <input type="text" name="keyword" />
        <input type="submit" value="Rechercher"/>
    </form>
</nav>
